@use 'variables' as *;

.nb-confirm-dialog__message {
  margin: var(--space-2) 0 var(--space-4);
  line-height: var(--line-height-relaxed);
  color: var(--text-primary);
  font-size: var(--font-size-sm);
}
